<%= link_to "Add", new_restaurant_path, class: "btn btn-primary" %>

<h1 class = "text-center">Restaurants</h1>


<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
          <div class="card-category"><%= link_to restaurant.name, restaurant_path(restaurant), class: "title" %></div>
          <div class="card-description">

            <p><%= restaurant.address  %></p>
            <p><%= restaurant.category.capitalize %></p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      <!-- insert <div class="card"> -->
      </div>
   <% end %>
  </div>
</div>



